# Python
__pycache__/
*.py[cod]
*.pyo

# Data
data/

# environments
.venv/
venv/

# OS
.DS_Store

# notebooks
.ipynb_checkpoints/

# ML artifacts
mlruns/
artifacts/
data/predictions/

# logs
*.log

# Streamlit cache
.streamlit/

# Pytest cache
.pytest_cache/